/* Estilo para o conteúdo principal */
.content {
    background-color: #FEF9F6;
    color: #000000;
    padding: 20px;
}

/* Estilo para a classe form-container */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

#form-login, #form-membros {
    background: #FEF9F6;
    border-radius: 22px;
    border: 5px #dc8239 solid;
    padding: 50px;
    flex: 1;
    margin: 10px;
}

.title {
    font-size: 1.8em;
    margin-bottom: 10%;
    color: #dc8239;
}

.input {
    min-width: 280px;
    border-radius: 22px;
    border: 2px #dc8239 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input {
    width: 100%;
    border: none;
    outline: none;
    transform: translateY(-10%);
    color: #2b344b;
    font-size: 11pt;
}

#btn, #btn-cadastro {
    background: #dc8239;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    border-radius: 22px;
    overflow: hidden;
}

#btn button, #btn-cadastro button {
    background: #dc8239;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 22px;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    color: #FEF9F6;
}

.imagem-login img {
    width: 500px;
    border-radius: 20px;
}
