:root {
    font-size: 62.5%;
    --nav-bg-color: #fedcd2;
    --nav-text-color:#df744a;
    --button-bg-color:#fedcd2;
    --buttton-text-color:#8fd8d2;
}

body {
    background: #fedcd2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #df744a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

    .slider-item {
      size: 100px;
  
    }

  .slider{
      overflow: hidden;
      
  
  }
  .slider > .slider-content {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      transition: all 500ms ease;
      float: left;
  
  }
  
  .slider > .slider-content > .slider-item {
      flex: 0 0 auto;
      width: 100%;
  }
  
  .slider > input:nth-child(1):checked ~ .slider-content{
      transform: translateX(0%);
  }
  
  .slider > input:nth-child(2):checked ~ .slider-content{
      transform: translateX(-100%);
  }
  .slider > input:nth-child(3):checked ~ .slider-content{
      transform: translateX(-200%);
  }
  
  .slider > input:nth-child(4):checked ~ .slider-content{
      transform: translateX(-300%);
  }

  
   
  

  .container{
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    background-color:#fedcd2;
    width: 100px;
    height: 100px;
    align-items: center;
    float: right;
  
   
  }
   


  .card  .stars {
  width: 20px;
  display: flex;
  align-items: center;
 }


 
 .user {
  width: 5px;
 }

 .card .user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-items: center;

 }
  

  .home {
    width: 200px;
    border-radius: 50%;
  }
  
  

 h2 {
  display:flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  font-size:20px;

 }
 p {
  text-align: justify;
 }


 .cards {
  display: grid;
  grid-template-columns: 100%;
  max-width: 980px;
  margin: 0 auto;
 }

 .card {
  background-color: #ecdbd4;
  flex-direction: column;
  align-items: center;
  padding:35px 40px;
  box-shadow: 6px 6px 10px #df744a;

 }

 .star {
    width: 20px;
 }


 .button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  