*{
    font-family: Arial, sans-serif;
}

.text-club  {

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2% 5%;
    color: rgb(94, 90, 90);
    

}   

.text-club h2 {
    font-size: 30px;
    line-height: 1.3em;
    text-align: center;
    color: rgb(94, 90, 90);
}

.invista {
    font-size: 30px;
    text-align: center;
    color: rgb(94, 90, 90);
}

.container-shopping {
    padding: 2% 5%;
    background-color: #FEDCD2;
    
}

/* novo codigo */

body{
    background-color: #E3E7E8;
    font-family: system-ui;
}
.container-compras {
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background-color: #FEDCD2;
   
}
.shopping-area{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    color: rgb(94, 90, 90);  
}

div .shopping{
    position: relative;
    text-align: right;
}
div .shopping img{
    width: 40px;
}
div .shopping span{
    background: red;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -10px;
    left: 80%;
    left: -15px;
    padding: 3px 10px;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 2% 5%;
}
.list .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;  
    width: 190px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
    margin-top: 10px;
}
.list .item .price{
    margin: 10px;
}
.descricao {
    font-size: 12px;
    margin: 10px;
}
.list .item button{
    background-color: #8fd8d2;
    border: none;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.list .item button:hover{
    background-color: #4ac9be;

}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #df744a; 
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #8fd8d2;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #FEDCD2;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

/* text area */ 

.area-de-envio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background-color: #8fd8d2;
}
.trocar, .doar {
    width: 500px;
    height: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.area-de-envio label {
    margin: 10px;
    font-weight: bold;
    color: #1C1F25;
    
}

.area-de-envio textarea{
    border-radius: 20px;
    border-color: none;
    outline:none;
}

.area-de-envio button {
    text-align: center;
    margin: auto;
    background-color: #df744a;
    border: none;
   padding: 10px 80px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.area-de-envio button:hover {
    background-color: #8f2e08;
}

